@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply font-normal text-brand-1;
  }
}

@layer components {
  .icon-default {
    @apply h-6 w-6;
  }

  .icon-sm {
    @apply h-5 w-5;
  }
  .icon-xs {
    @apply h-4 w-4;
  }

  .section-heading {
    @apply font-playfair-display text-4xl font-semibold xl:text-[3.5rem];
  }

  .thumbnail .keen-slider__slide {
    @apply mt-6 h-full cursor-pointer;
  }

  .thumbnail .keen-slider__slide.active {
    @apply rounded-lg border-2 border-brand-1;
  }
}
